body {
    font-family: 'EB Garamond', serif;
    color: #f0f0f0; /* Tinted white */
    line-height: 1.6;
    background-color: #333333; /* Dark gray */
    margin: 0;
    padding: 150px; /* Ensures consistent spacing */
    text-align: center;
}

/* Styling for the main heading */
h1 {
    font-size: 36px;
    font-weight: 700; /* Bold */
    border-bottom: 2px solid #666666; /* Medium gray for contrast */
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff; /* Pure white for headings */
}

/* Styling for paragraph text */
p {
    font-size: 18px;
    font-weight: 400; /* Regular */
    color: #d9d9d9; /* Tinted white for paragraphs */
    font-style: italic;
}
.wrapper {
   border: 10px solid #C0C0C0; /* Silver border */
    padding: 20px; /* Space between the border and content */
    margin: 50px auto; /* Center the wrapper on the page */
    max-width: 800px; /* Set a maximum width for the content */
   /*background-color: #FFE4B5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*  Adds a subtle shadow */
  border-radius: 15px;
}
